<h3>Update your blog post:</h3>
    <input id="title" value="{{blogs.title}}" />
    <input id="body" value="{{blogs.body}}" />
    <button onclick="editPage({{blogs.id}})">Submit</button>
    <button onclick="deletePost({{blogs.id}})">delete</button>
    <hr>

<script src="/js/updateBlog.js"></script>